@import "Common";
@import "Nav";

$table-head-border-bottom-color: #ddd;
$table-body-border-bottom-color: #eee;

$location-bar-bottom-border-color: #eee;
$location-bar-link-color: #aaa;
$location-bar-link-hover-color: #000;

.hh-application-wrap {
  margin-top: 48px;
  padding: 50px 30px;

  table {
    border-collapse: collapse;
    width: 100%;
    thead {
      border-bottom: 1px solid $table-head-border-bottom-color;
      tr {
        th {
          padding: 5px 10px;
          text-align: left;
          font-size: 1.5em;
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid $table-body-border-bottom-color;
        td {
          height: 30px;
          padding: 5px 10px;
        }
      }
    }
  }
}

.hh-iframe {
  display: block;
  width: 80%;
  height: 600px;
  margin: 0 auto;
}

.hh-container {
  #location-bar {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 3px solid $location-bar-bottom-border-color;
    span {
      font-size: 2em;
      a {
        text-decoration: none;
        color: $location-bar-link-color;
      }
      a:hover {
        color: $location-bar-link-hover-color;
      }
    }
    span.parent-location {
      font-weight: 700;
    }
  }
}