body{min-width: 800px;}
li{list-style: none;}

$btn-font-color: #666;
$btn-border-color: #aaa;
$btn-bg-color: #eee;
$btn-bg-hover-color: #ddd;
$btn-height: 40px;
$btn-width: 70px;
$btn-border-radius: 3px;

a.hh-btn {
  display: inline-block;
  width: $btn-width;
  height: $btn-height;
  line-height: $btn-height;
  font-size: 1em;
  font-weight: 700;
  color: $btn-font-color;
  background-color: $btn-bg-color;
  text-decoration: none;
  text-align: center;
  border: 1px solid $btn-border-color;
  -webkit-border-radius: $btn-border-radius;
  -moz-border-radius: $btn-border-radius;
  border-radius: $btn-border-radius;
}

a.hh-btn:hover {
  background-color: $btn-bg-hover-color;
}

div.hh-container {
  margin-top: 48px;
  padding: 20px 30px;
}