body{min-width: 800px;}
li{list-style: none;}

$nav-bg-color: #333;
$nav-font-color: #ddd;
$nav-height: 48px;

$a-hover-bg-color: #000;
$a-hover-font-color: #fff;

$page-down-btn-side: 80px;

nav.hh-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: $nav-height;
  background-color: $nav-bg-color;
  
  ul {
    height: $nav-height;
    margin: 0;
    padding: 0 40px;

    li {
      float: left;

      a {
        display: inline-block;
        height: $nav-height;
        padding: 0 20px;
        line-height: $nav-height;
        color: $nav-font-color;
        text-decoration: none;
      }

      a:hover {
        color: $a-hover-font-color;
        background-color: $a-hover-bg-color;
      }
    }

    .nav-logo {
      padding: 4px 0;
      a {
        margin-right: 40px;
        height: 40px;
        img {
          height: 100%;
        }
      }

      a:hover {
        background-color: $nav-bg-color;
      }
    }
  }
}

div.hh-welcome {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  background: url(/asset/img/firstpage.jpeg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  .describe-part {
    position: absolute;
    top: 50%;
    right: 50px;
    height: 300px;
    margin-top: -150px;
    text-align: right;

    h1 {
      font-size: 5em;
    }

    h2 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1em;
    }
  }

  .bottom-btn {
    position: absolute;
    bottom: 30px;
    width: 100%;
    button {
      display: block;
      width: $page-down-btn-side;
      height: $page-down-btn-side;
      margin: 0 auto;
      text-align: center;
      border: none;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #bbb;
      outline: none;

      i {
        padding-top: 20px;
        font-size: 2em;
        color: #333;
      }
    }
    
    button:hover {
      background-color: #fff;
      border: 2px solid #ddd;
      -webkit-box-shadow: 0px 2px 2px #777;
      -moz-box-shadow: 0px 2px 2px #777;
      box-shadow: 0px 2px 2px #777;
      i {
        color: #000;
      }
    }
  }
}
