<% include header %>
<body>
	<div id="fullpage">
		<div class="section">
			<nav class="hh-nav">
				<ul>
					<li class="nav-logo"><a href=""><img src="/asset/img/logo.gif" alt="website logo"></a></li>
					<li><a href="/">首页</a></li>
					<li><a href="/article">文章</a></li>
					<li><a href="/photography">摄影</a></li>
					<li><a href="/about">关于我</a></li>
				</ul>
			</nav>
			<div class="hh-welcome">
				<div class="describe-part">
					<h1>HH's blog</h1>
					<h2>welcome to my blog</h2>
					<h3>首先我是男的</h3>
					<h3>其次左图是我女朋友</h3>
				</div>
				<div class="bottom-btn">
					<button type="button" class="page-down"><i class="fa fa-arrow-down"></i></button>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="slide" data-anchor="slide1">1</div>
			<div class="slide" data-anchor="slide2">2</div>
			<div class="slide" data-anchor="slide3">3</div>
			<div class="slide" data-anchor="slide4">4</div>
		</div>
		<div class="section">some section 1</div>
		<div class="section">some section 2</div>
		<div class="section">some section 3</div>
		<div class="section">some section 4</div>
	</div>	
</body>
<% include footer %>