<% include ../public/header %>

<body>

<% include ../public/nav %>
<div class="hh-article-wrap">

</div>

<script type="text/javascript" src="/asset/js/application.js"></script>

<% include ../public/footer %>