<% include ../public/header %>

<body>

<% include ../public/nav %>
<div class="hh-article-wrap">
    <h1>test     ddd</h1>
</div>

<script type="text/javascript" src="/asset/js/article.js"></script>

<% include ../public/footer %>