<% include ../public/header %>

<body>

    <% include ../public/nav %>
    <div class="hh-application-wrap">
        <%= apps %>
    </div>

    <script type="text/javascript" src="/asset/js/application.js"></script>
</body>
</html>