<% include ../public/header %>

<body>

    <% include ../public/nav %>
    <div class="hh-application-wrap">
        <table>
            <thead>
                <tr>
                    <th>应用名称</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0;i < apps.length;i++){ %>
                    <tr>
                        <td><%= apps[i].name %></td>
                        <td><%= apps[i].introduce %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>

    </div>

    <script type="text/javascript" src="/asset/js/application.js"></script>
</body>
</html>