<% include ../public/header %>

<body>

    <% include ../public/nav %>
    <div class="hh-application-wrap">

        <% for(var i = 0;i < apps.length;i++){ %>
            <p><%= apps[i].name %></p>
        <% } %>
    </div>

    <script type="text/javascript" src="/asset/js/application.js"></script>
</body>
</html>