<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="/asset/css/normalize.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>